<div class="parent">

    <h1>Cart</h1>
    <div *ngIf="checkLength()" class="checkoutdiV">
        <button (click)="placeOrder()" class="btnOrder">Checkout</button>
        <p *ngIf="getPrice()" class="totalPrice" ><strong>Total Price : </strong>{{totalPrice}}</p>
    </div>
    <div class="container mt-5">
        <div class="col" *ngFor="let product of productsInCart">
            <div class="movie-card mb-3">
                <img [src]="product.Image" [alt]="product.Name" class="card-img-top" />
                <div class="card-body">
                    <p class="card-title"><strong>Title:</strong>{{ product.Name }}</p>
                    <p class="card-text"><strong>Weight:</strong> {{ product.Weight }}</p>
                    <p class="card-text"><strong>Price:</strong> {{ product.Price }}</p>
                    <p class="card-text"><strong>Quantity:</strong> {{ product.quantity}}</p>
                    <button (click)="removeItem(product)" class="btn btn-danger">Remove</button>
                    <app-toast-message *ngIf="toastMessage" [message]="toastMessage"></app-toast-message>
                </div>
            </div>
        </div>
        <div *ngIf="!checkLength()">
            <h1 style="font-size: 100px;">🛒</h1>
            <h1>Your cart is empty</h1>
        </div>
    </div>
</div>